span {
	text-align: center;
}

.container {
	background: rgb(79, 79, 143);
	height: 100%;
	width: 100%;
}

.vertical-center {
	margin: auto;
	height: 100%;
	width: 100%;
	transform: translateY(20%);
}

.user_card {
	height: 65%;
	width: 30%;
	background: white; justify-content : center;
	margin: auto;
	justify-content: center;
}

.brand_logo {
	height: 90%;
	width: 90%;
	border-radius: 50%;
	padding-left: 10%;
	padding-top: 10%;
}

.brand_contain {
	height: 130px;
	width: 130px;
	border-radius: 50%;
	background: #C4C4C4;
}

.top-form {
	width: 100%;
	padding-top: 10%;
	padding-left: 5%;
	padding-right: 5%;
}

.input-group {
	width: 100%;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
}

.input-text {
	width: 100%;
	height: 40px;
}

.login_btn {
	width: 50%;
	background: #22B2E0;
	color: rgb(255, 255, 255);
}

.title_form {
	color: black;
}

.register_form {
	color: black;
	margin-bottom: 15%;
}

a:link:hover {
	text-decoration: none;
	color: red;
}

.loginError {
	color: red;
	width: 100%;
	overflow: hidden;
	margin-bottom: 5%;
	text-overflow: ellipsis;
}