<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Công nợ sinh viên</title>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
	charset="utf-8"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type='text/javascript'
	src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'>
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

 <script type="text/javascript" >

 $(document).ready(function() { 
	   $('input[type=radio]').change(function(){
	        $("form[name='formCongNo']").submit();
	      
	   });
	  });
 function test(url) {
	 window.location = url.toString();

	 }
 </script>

</head>
<body>
	<div class="container" >
	<!--wrapper start-->
	<div class="wrapper">
		<!--header menu start-->
		<div class="header">
			<div class="header-menu">
				<div class="title">
					Clyn<span>Student</span>
				</div>
				<div class="sidebar-btn">
					<i class="fas fa-bars"></i>
				</div>
				<ul>
	
					<li><a class="fas fa-sign-out-alt" th:attr="href='/j_spring_security_logout'"></a></li>
				</ul>
			</div>
		</div>
		<!--header menu end-->
		<!--sidebar start-->
		<div class="sidebar">
				<div class="sidebar-menu">
				<div class="profile" style="text-align: center">
					<img th:src="@{/images/1.jpg}" alt="" />
						<p th:utext="${sv?.masv}"></p>
					<p th:utext="${sv?.tensv}"></p>
				</div>
				<ul>
					<li class="item"><a th:href="@{/sinhvien/dashboard}" class="menu-btn"> <i
							class="fas fa-desktop"></i><span>Dashboard</span>
					</a></li>
					<li class="item" id="thongtinhoctap"><a href="#thongtinhoctap"
						class="menu-btn"> <i class="fas fa-user-circle"></i><span>Thông tin học tập
								<i class="fas fa-chevron-down drop-down"></i>
						</span>
					</a>
						<div class="sub-menu">
							<a th:href="@{/lichhoc}"><i class="fas fa-image"></i><span>Xem lịch học</span></a>
							<a th:href="@{/bangdiem}"><i class="fas fa-address-card"></i><span>Xem điểm</span></a>
						</div></li>
					<li class="item" id="quanlihocphan"><a href="#quanlihocphan"
						class="menu-btn"> <i class="fas fa-envelope"></i><span>Quản lí học phần
								<i class="fas fa-chevron-down drop-down"></i>
						</span>
					</a>
						<div class="sub-menu">
							<a th:href="@{/dkLHPChoSV}"><i class="fas fa-envelope"></i><span>Đăng ký học phần</span></a>
						</div></li>
					<li class="item" id="settings"><a href="#settings"
						class="menu-btn"> <i class="fas fa-cog"></i><span>Tra cứu
								<i class="fas fa-chevron-down drop-down"></i>
						</span>
					</a>
						<div class="sub-menu">
							<a th:href="@{/congnosinhvien}"><i class="fas fa-lock"></i><span>Tra cứu công nợ</span></a>
							<a href="#"><i class="fas fa-language"></i><span>Khác</span></a>
						</div></li>
					<li class="item"><a href="#" class="menu-btn"> <i
							class="fas fa-info-circle"></i><span>About</span>
					</a></li>
				</ul>
			</div>
		</div>
		<!--sidebar end-->
		<div>
		<!--main container start-->
		<div class="main-container">
		
		
		<div class="card">
		<form th:method="get" th:action="@{/congnosinhvien}" name="formCongNo">
			<div class="cardtitle">
				
				<div class="right" style="width:100%;">
				<div class="info">
				<h1 style="font-weight:normal;font-size:62px;font-weight:100;text-align: left;"> Công nợ sinh viên </h1>
				</div>
				</div>
				<div class="dropdown">
					
					
					<select class="dropdown-select" onchange="this.form.submit()" name="HKnienKhoa" >
							<option class="dropdown-list__item" value="" disabled selected >-Chọn học kỳ-</option>
						
								<option class="dropdown-list__item" th:each="nienkhoa : ${listNienKhoa}" th:value="${nienkhoa?.id}" th:selected="${nienkhoa.id eq lastselected}" th:utext="${nienkhoa.hocKy.loaiHocKy+' ('+nienkhoa.Khoa+')'}"></option>
							
		
							
					</select>
					<span class="custom-arrow"></span>
				</div>
				
			</div>
				<table class="content-table">
					<thead>
						<tr>
							<th>STT</th>
							<th>Mã lớp</th>
							<th>Thông tin lớp</th>
							<th>Môn học</th>
							
							<th>Học phí</th>
							<th>Thu học phí</th>
						
							
						
						</tr>
					</thead>
					<tbody>
						<tr th:each="dkhp,state:${listSVDKHPByNK}">
						<td th:utext="${state.count}"></td>
						<td th:utext="${dkhp.dangkylophocphan.malophp}"></td>
						<td th:utext="${dkhp.dangkylophocphan.tenlophp}"></td>
						<td th:utext="${dkhp.dangkylophocphan.monHoc.tenmon}"></td>
						
						<td th:utext="${dkhp.dangkylophocphan.hocphi}"></td>
						<td th:utext="${dkhp.trangthaihocphi}"></td>
					
					
				
						</tr>
					</tbody>
						<tfoot style="box-shadow:0 5px 10px #e1e5ee;font-weight:500;">
							<tr role="row" class="odd" data-dt-row="0" style="height: 30px;">
								<td colspan="4" class="text-left row-head" data-dt-row="0"
									data-dt-column="0" th:utext="'Tổng công nợ học kỳ: '">
								</td>
								<td th:utext="${congno}"></td>
							</tr>
							<tr role="row" class="odd" data-dt-row="0" style="height: 30px;">
								<td colspan="4" class="text-left row-head" data-dt-row="0"
									data-dt-column="0" th:utext="'Tổng công nợ: '">
								</td>
								<td th:utext="${tongcongno}"></td>
							</tr>
						</tfoot>
					</table>
					</form>
			</div>
		<div class="card" style="background:#2F323A;color:white;font-weight:normal;font-size:22px;text-align: center;padding-left:0px;">
					<div class="title" style="font-size:22px;font-weight:900;">
					CLYN<span style="color: #4CCEE8;">STUDENT</span>
				</div>
						<h5 style="font-weight:100;font-size:15px;">@Copyright by Clyn<span>Project</span> - 2021 </h5>
						<h5 style="font-weight:100;font-size:12px;">Contact Us via email: tritranminhh@gmail.com - lamchanhdai@gmail.com</h5>
						<br>
			</div>
	
		<!--main container end-->
	</div>
	<!--wrapper end-->
</div>
</div>
<script type="text/javascript">
		$(document).ready(function() {
			$(".sidebar-btn").click(function() {
				$(".wrapper").toggleClass("collapse");
			});
		});
	</script>

</body>
</html>
