<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Danh sách lớp học phần giảng dạy</title>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
	charset="utf-8"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type='text/javascript'
	src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'>
	
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('input[type=radio]').change(function() {
			$("form[name='formMH&HP']").submit();

		});
	});
	function test(url) {
		window.location = url.toString();

	}
</script>

</head>
<body>
	<div class="container">
		<!--wrapper start-->
		<div class="wrapper">
			<!--header menu start-->
			<div class="header">
				<div class="header-menu">
					<div class="title">
					Clyn<span>Teacher</span>
					</div>
					<div class="sidebar-btn">
						<i class="fas fa-bars"></i>
					</div>
					<ul>
						<li><a class="fas fa-sign-out-alt" th:attr="href='/j_spring_security_logout'"></a></li>
					</ul>
				</div>
			</div>
			<!--header menu end-->
			<!--sidebar start-->
	<div class="sidebar">
				<div class="sidebar-menu">
				<div class="profile" style="text-align: center">
					<img th:src="@{/images/1.jpg}" alt="" />
						<p th:utext="${gv?.magv}"></p>
					<p th:utext="${gv?.tengv}"></p>
				</div>
				<ul>
					<li class="item"><a th:href="@{/giangvien/dashboard}" class="menu-btn"> <i
							class="fas fa-desktop"></i><span>Dashboard</span>
					</a></li>
					<li class="item" id="thongtinhoctap"><a href="#thongtinhoctap"
						class="menu-btn"> <i class="fas fa-chalkboard-teacher"></i><span>Quản lí giảng dạy
								<i class="fas fa-chevron-down drop-down"></i>
						</span>
					</a>
						<div class="sub-menu">
							<a th:href="@{/lichday}"><i class="fas fa-calendar"></i><span>Xem lịch dạy</span></a>
							<a th:href="@{/danhsachlopday}"><i class="fas fa-clipboard-list"></i><span>Xem danh sách các lớp học phần đang giảng dạy</span></a>
						</div></li>
					
				
					<li class="item"><a href="#" class="menu-btn"> <i
							class="fas fa-info-circle"></i><span>About</span>
					</a></li>
				</ul>
			</div>
		</div>
			<!--sidebar end-->
			<div>
				<!--main container start-->
				<div class="main-container">
					<form th:object=${listNienKhoa} th:method="post"
						th:action="@{getlichday_hk}" name="formMH&HP">
						<div class="card">
							<div class="dropdown">

								<select class="dropdown-select" onchange="this.form.submit()"
									name="HKnienKhoa">
									<option class="dropdown-list__item" value="" disabled selected>-Chọn
										học kỳ-</option>
									<option class="dropdown-list__item" value="0">Tất cả</option>

									<option class="dropdown-list__item"
										th:each="nienkhoa : ${listNienKhoa}"
										th:value="${nienkhoa?.id}"
										th:selected="${nienkhoa.id eq lastselected}"
										th:utext="${nienkhoa.hocKy.loaiHocKy+' ('+nienkhoa.Khoa+')'}">

									</option>
								</select> <span class="custom-arrow"></span>
							</div>
						</div>

						<div class="card">
							<div>
								<div th:if="${nk}==null">
									<div class="right" style="width: 100%;">
										<div class="info">
											<h1
												style="text-align: left; font-size: 62px; font-weight: 100;">Danh
												sách lớp học phần đang giảng dạy</h1>
										</div>
									</div>

								</div>
								<div th:unless="${nk}==null">
									<h1 style="font-weight: normal; font-size: 32px;"
										th:utext="${'Danh sách lớp học phần đang giảng dạy('+nk.hocKy.loaiHocKy+' '+nk.Khoa+')'}"></h1>
								</div>
							</div>

							<br> <br>
							<table class="content-table">
								<thead>
									<tr>

										<th>STT</th>
										<th>Mã lớp học phần</th>
										<th>Tên môn học</th>
										<th>Môn học</th>
										<th>Niên khóa</th>
										<th>Số học sinh đã đăng kí</th>
										<th>Trạng thái</th>
										<th>Xem danh sách sinh viên</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="lhp,state :${listlhp}">
										<td th:utext="${state?.count}"></td>
										<td th:utext="${lhp?.malophp}"></td>
										<td th:utext="${lhp?.tenlophp}"></td>
										<td th:utext="${lhp?.monHoc.tenmon}"></td>
										<td
											th:utext="${lhp?.nienkhoa.hocKy.loaiHocKy+'(' +lhp?.nienkhoa.khoa +')'}"></td>
										<td th:utext="${lhp.dsDanKyLopHocPhans.size+'/'+lhp?.siso}"></td>
										<td th:utext="${lhp?.trangthai}"></td>
										<td><a 
										class="btn-outline" style="font-size:16px;align-items:center;width:70%;height:100%;"
											th:href="@{/danhsachSV?idlhp={idlhp}(idlhp=${lhp?.malophp})}">Xem</a></td>
											
											
				
											
									</tr>
								</tbody>
							</table>

						</div>
					</form>
							<div class="card" style="background:#2F323A;color:white;font-weight:normal;font-size:22px;text-align: center;padding-left:0px;">
						<div class="title" style="font-size:22px;font-weight:900;">
					CLYN<span style="color: #4CCEE8;">TEACHER</span>
				</div>
										<h5 style="font-weight:100;font-size:15px;">@Copyright by Clyn<span>Project</span> - 2021</h5>
				
				<h5 style="font-weight:100;font-size:12px;">Contact Us via email: tritranminhh@gmail.com - lamchanhdai@gmail.com</h5>
						<br>
			</div>
				</div>
				<!--main container end-->
			</div>
			<!--wrapper end-->
		</div>
	</div>
</body>
</html>
