<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Trang chính</title>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
	
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>



<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css"
	rel="stylesheet" />



	
</head>
<body>
		<div class="container" >
	<!--wrapper start-->
	<div class="wrapper">
		<!--header menu start-->
		<div class="header">
			<div class="header-menu">
				<div class="title">
					Clyn<span>TEACHER</span>
				</div>
				<div class="sidebar-btn">
					<i class="fas fa-bars"></i>
				</div>
				<ul>
					
				
					<li><a class="fas fa-sign-out-alt" th:attr="href='/j_spring_security_logout'"></a></li>
				</ul>
			</div>
		</div>
		<!--header menu end-->
		<!--sidebar start-->
		<div class="sidebar">
				<div class="sidebar-menu">
				<div class="profile" style="text-align: center">
					<img th:src="@{/images/1.jpg}" alt="" />
						<p th:utext="${gv?.magv}"></p>
					<p th:utext="${gv?.tengv}"></p>
				</div>
				<ul>
					<li class="item"><a th:href="@{/giangvien/dashboard}" class="menu-btn"> <i
							class="fas fa-desktop"></i><span>Dashboard</span>
					</a></li>
					<li class="item" id="thongtinhoctap"><a href="#thongtinhoctap"
						class="menu-btn"> <i class="fas fa-chalkboard-teacher"></i><span>Quản lí giảng dạy
								<i class="fas fa-chevron-down drop-down"></i>
						</span>
					</a>
						<div class="sub-menu">
							<a th:href="@{/lichday}"><i class="fas fa-calendar"></i><span>Xem lịch dạy</span></a>
							<a th:href="@{/danhsachlopday}"><i class="fas fa-clipboard-list"></i><span>Xem danh sách các lớp học phần đang giảng dạy</span></a>
						</div></li>
					
				
					<li class="item"><a href="#" class="menu-btn"> <i
							class="fas fa-info-circle"></i><span>About</span>
					</a></li>
				</ul>
			</div>
		</div>
		<!--sidebar end-->
		<div>
		<!--main container start-->
		<div class="main-container">
		
		   <div class="card">

			<br><br>
		      <div class="main__title" style="margin-left:1%;">
            <div class="main__greeting">
              <h1 style="font-weight:100;font-size:1.1rem;color:black">Xin chào</h1>
              <p th:utext="${gv?.tengv}" style="font-weight:200;"></p>
            </div>
          </div>
		   </div>
		   <div class="card" style="text-align:center;">
		 
		   <div class="right" style="width:100%;">
		   <div class="info">
            <h3 style="font-weight:100;font-size:62px;text-align:left;">Thông tin cá nhân</h3>
             <a class="smallbtn-outline" style="float: right" th:href="@{/capnhatmatkhau}"><i class="fas fa-key" style="padding-right:10px"></i>Cập nhật mật khẩu</a>
            <br>
            <br>
             <br>
            <br>
           
            <div class="info_data">
                 <div class="data">
                    <h4>Mã giảng viên</h4>
                    <p th:utext="${gv?.magv}"></p>
                 </div>
                 <div class="data">
                   <h4>Tên giảng viên</h4>
                    <p th:utext="${gv?.tengv}"></p>
              </div>
                 <div class="data">
                   <h4>Giới tính</h4>
                    <p th:utext="${gv?.gioitinh}"></p>
              </div>
            </div>
            <br>
            <br>
             <br>
            <br>
             <div class="info_data" style="padding-top:20px;">
                 <div class="data">
                    <h4>Ngày sinh</h4>
                    <p th:utext="${#dates.format(gv?.ngaysinh,'dd-MM-yyyy')}"></p>
                 </div>
                 <div class="data">
                   <h4>Học Vị</h4>
                    <p th:utext="${gv?.hocvi}"></p>
              </div>
            
                 <div class="data">
                   <h4>Ngành</h4>
                    <p th:utext="${cn.tennganh}"></p>
              </div>
                
            
            </div>
            <br>
             <br>
            <br>
             <br>
               <div class="info_data" style="padding-top:20px;">
                 <div class="data">
                    <h4>Địa chỉ</h4>
                    <p th:utext="${gv.diachi}"></p>
                 </div>
                 <div class="data">
                   <h4>Email</h4>
                    <p th:utext="${gv.email}"></p>
              </div>
                 <div class="data">
                   <h4>Số điện thoại</h4>
                    <p th:utext="${gv.sdt}"></p>
              </div>
            </div>
        </div>
		   </div>
		   </div>
		 
		<div class="card" >
		 <br>
          <br>
		          <div class="main__cards" style="display:flex;">
		     <a th:href="@{/dkLHPChoSV}" style="width:100%;float:left;">
            <div class="cardflex" >
              <i
                class="fas fa-stream fa-2x text-lightblue"
                aria-hidden="true"
              ></i>
              <div class="card_inner">
                <p class="text-primary-p">Quản lý các lớp học phần đang giảng dạy</p>
                <span class="font-bold text-title"><i class="fas fa-arrow-right text-lightblue "></i></span>
              </div>
            </div>
				</a>
				<a th:href="@{/lichhoc}" style="width:100%;float:right;">
            <div class="cardflex" >
              <i class="fa fa-calendar text-lightblue fa-2x" aria-hidden="true"></i>
              <div class="card_inner">
                <p class="text-primary-p">Xem lịch dạy</p>
                <span class="font-bold text-title"><i class="fas fa-arrow-right text-lightblue"></i></span>
              </div>
            </div>
				</a>
		
		
          </div>
          <br>
          <br>
		</div>
		<div class="card" style="background:#2F323A;color:white;font-weight:normal;font-size:22px;text-align: center;padding-left:0px;">
						<div class="title" style="font-size:22px;font-weight:900;">
					CLYN<span style="color: #4CCEE8;">TEACHER</span>
				</div>
										<h5 style="font-weight:100;font-size:15px;">@Copyright by Clyn<span>Project</span> - 2021</h5>
				
				<h5 style="font-weight:100;font-size:12px;">Contact Us via email: tritranminhh@gmail.com - lamchanhdai@gmail.com</h5>
						<br>
			</div>


		</div>
		<!--main container end-->
	</div>
	<!--wrapper end-->
</div>
</div>
<script type="text/javascript">
		$(document).ready(function() {
			$(".sidebar-btn").click(function() {
				$(".wrapper").toggleClass("collapse");
			});
		});
	</script>
</body>
</html>